<div class="post-listing">
    <div class="container">
        <div class="grid header-post">
            <div class="item blog-description">
                <div class="post-categories">
                    <ul>
                        {% for cat in categories %}
                            {% if current_tag.slug == "/{{ blog.slug }}" %}
                            <li><a href="/{{ blog.slug }}" id="All" class="category active">All</a></li>
                            {% elsif current_tag.slug == cat.slug %}
                            <li><a href="/{{ blog.slug }}/tag/{{ cat.slug }}" id="{{ cat.name | downcase | capitalize }}" class="category active">{{ cat.name | downcase | capitalize }}</a></li>
                            {% else %}
                            <li><a href="/{{ blog.slug }}/tag/{{ cat.slug }}" id="{{ cat.name | downcase | capitalize }}" class="category">{{ cat.name | downcase | capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        {% paginate posts by 9 %}
        <div class="row">
            {% for post in posts %}
                <div class="item post-list-item col-sm-4" onclick="location.href='{{ post.url }}'" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="header-img" style="background-image: url({{ post.image_url | resize: '800x800' }})">
                        <div class="overlay" style="background-color:{{ section.settings.filter_color }};"></div>
                    </div>
                    <div class="work-content" style="align-items:{{ section.settings.content_alignment }};">
                        {% if section.settings.tag %}
                        <div class="tag">
                            {% for post_tag in post.tags %}
                            {% unless post_tag.name == 'All' %}
                            <p>{{ post_tag.name }}</p>
                            {% endunless %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if section.settings.title %}
                        <h{{ section.settings.title_size }} class="title">{{ post.title }}</h{{ section.settings.title_size }}>
                        {% endif %}
                        <span class="author">
                            {% if section.settings.author %}
                            {{ post.author }}
                            {% endif %}
                            {% if section.settings.date %}
                            <i>| {{ post.published_at | date: "%b %e %Y" }}</i>
                            {% endif %}
                        </span>
                        {% if section.settings.excerpt %}
                        <p>{{ post.excerpt | strip_html | truncate | 200 }}</p>
                        {% endif %}
                        <span class="hover-effect"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="pagination">
            {% if paginate.previous.is_link %}
                <li>
                    <a href="{{ paginate.previous.url }}">
                        <span>previous</span>
                    </a>
                </li>
            {% endif %}
          
            <li class="pagination__text">
                Page {{ paginate.current_page }}
            </li>
          
            {% if paginate.next.is_link %}
                <li>
                    <a href="{{ paginate.next.url }}">
                        <span>next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endpaginate %}
    </div>
</div>

{% styles %}
@font-face {
    font-family: 'Oswald';
    src: url("{{ 'Oswald.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url("{{ 'Didot.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

.post-listing {
    margin: 3rem auto 5rem;
}

.post-listing .container {
    padding: 0;
    margin-top: 3rem;
}

.post-listing .pagination {
    justify-content: center;
}

.post-listing .pagination li {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

.post-listing .post-list-item,
.post-listing .header-post .blog-description, 
.post-listing .row {
    margin-bottom: 2rem;
}

.post-listing .post-list-item {
    position: relative;
    cursor: pointer;
}

.post-listing .post-list-item .header-img {
    position: relative;
    background-color: #dcf0ff;
    background-position: center;
    background-size: auto 110%;
    height: 300px;
    transition: all 0.5s;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.post-listing .post-list-item:hover .header-img {
    background-size: auto 130%;
}

.post-listing .post-list-item .header-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.5;
}

.post-listing .post-list-item:hover .header-img .overlay {
    opacity: 0.6;
}

.post-listing .post-list-item .work-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
    padding: 2rem 2rem 1rem;
    margin: 0 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: 0.5s;
}

.post-listing .post-list-item:hover .work-content {
    margin-bottom: 1rem;
}

.post-listing .post-list-item:hover .hover-effect {
    border-bottom: 3px solid #3D65D8;
    width: 80px;
    margin-top: .5rem;
}

.post-listing .post-list-item .work-content h1,
.post-listing .post-list-item .work-content h2,
.post-listing .post-list-item .work-content h3,
.post-listing .post-list-item .work-content h4,
.post-listing .post-list-item .work-content h5,
.post-listing .post-list-item .work-content h6 {
    font-family: 'Didot', sans-serif;
    font-weight: 700;
}

.post-listing .post-categorie {
    width: 100%;
}

.post-listing .post-categories ul {
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

@media (min-width: 768px) {
    .post-listing .post-categories ul {
        overflow: unset;
    }
}

.post-listing .post-categories li {
    margin: 0 1rem;
}

.post-listing .post-categories li:first-child {
    margin-left: 0;
}

.post-listing .post-categories li:last-child {
    margin-right: 0;
}

.post-listing .post-categories a {
    color: #BBBBBB;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid #FFFFFF;
    padding: 0 0.3rem .5rem;
    display: block;
}

.post-listing .post-categories a:hover,
.post-listing .post-categories .active {
    color: #303030;
    border-color: #0d6efd;
}

.post-listing .post-categories .active {
    font-weight: 700;
}

.post-listing .header-post .blog-description h3 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.post-listing .work-content .tag {
    align-items: center;
    display: flex;
}

.post-listing .work-content .tag p {
     margin: 0 .5rem 0 0;
}

.post-listing .work-content .tag p,
.post-listing .work-content .author {
    color: #FFFFFF;
    font-size: .6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .3rem
}

.post-listing .work-content p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
}

.post-listing .post-list-item .post-link {
    color: #000000;
    text-decoration: none;
    display: none;
    align-items: center;
}
{% endstyles %}

{% schema %}
{
    "name": "Post Listing",
    "description": "Blog Post Listing",
    "settings": [
        {
            "type":"checkbox",
            "id":"title",
            "label":"Show Title",
            "default": true
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title Size",
            "default": "3",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
                {
                    "label":"Left",
                    "value":"flex-start"
                },
                {
                    "label":"Center",
                    "value":"center"
                },
                {
                    "label":"Right",
                    "value":"flex-end"
                }
            ]
        },
        {
            "type":"checkbox",
            "id":"author",
            "label":"Show Author",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"date",
            "label":"Show Date",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"tag",
            "label":"Show Tags",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"excerpt",
            "label":"Show Teaser",
            "default": true
        },
        {
            "type": "color",
            "id": "filter_color",
            "label": "Background Filter Color",
            "default": "#000000"
        }
    ]
}
{% endschema %}